/**
 * Block
 *
 * The styles for the Block.
 */

/**
 * Dependancies
 *
 * Import shared styles.
 */

// Mixin for the header image dimmer.
@import '../../../assets/src/scss/common/mixin-dimmer';

/**
 * Variables
 *
 * The variables for the block.
 */
$block-color-overlay : #1d1d1d;
$block-color-primary : #EDEDED;

.starter-card {
	font-family: Arial, Helvetica, sans-serif;
	background-color: $block-color-primary;
	position: relative;
	overflow: hidden;

	.block-library-button__inline-link {
		display: inline-block;
		& > svg,
		& > div,
		& > button {
			display: inline;
		}
	}
}

.starter-card__title {
	line-height: 1em;
	margin: 0px;
	padding: 0px;
}

.starter-card__header {
	position: relative;
}

.starter-card__header-background {
	height: 200px;
	width: 100%;
	z-index: 0;

	&.has-background-dim {
		@include dimmer;
		background-color: $block-color-overlay;
	}
}

.starter-card__header-inner {
	bottom: 0px;
	left: 0px;
	padding: 1em;
	position: absolute;
	width: 100%;
	z-index: 1;

	a {
		color: inherit !important;
	}
}

.starter-card__main {
	padding: 0 1em 1em 1em;
}

.starter-card__cta {
	.button {
		font-size: .8em;
		line-height: .8em !important;
		height: 2.4em;
		padding: .8em;
		border-radius: .5em;
		border-width: 0px;
		box-shadow: none;
	}
}

.categories {
	list-style-type: none;

	.categories__item {
		display: inline-block;
		margin-right: 5px;
	}
}

.starter-card--align-center {
	.starter-card__header {
		text-align: center;
	}

	.starter-card__main {
		text-align: center;
	}
}

.starter-card--align-right {
	.starter-card__header {
		text-align: right;
	}

	.starter-card__main {
		text-align: right;
	}
}

.starter-card.is-style-image-left {
	display: flex;
	flex-direction: row;

	.starter-card__header {
		width: 100%;
	}
}

.starter-card.is-style-image-right {
	display: flex;
	flex-direction: row-reverse;

	.starter-card__header {
		width: 100%;
	}
}
