/**
 * Dimmer mixin
 *
 * Mimics the behaviour of the native wp cover block
 * dimmer class.
 *
 * NOTE: Other element will need a z-index of 1 or more.
 */
 @mixin dimmer {
	position: relative;
	&:before {
		content: "";
		background-color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: .5;
		z-index: 1;
	}

	@for $i from 1 through 10 {
		&-#{ $i * 10 }:before {
			opacity: $i * 0.1;
		}
	}
}