/**
 * Common scss
 *
 * This file is imported into each blocks style.scss
 * and editor.scss to allow use of shared vars and mixins.
 */

/**
 * Default vars
 */

$common-dark        : #1d1d1d;
$common-offwhite    : #EDEDED;
$common-white       : #FFFFFF;
$common-spacing     : 15px;
$common-readability : 600px;
$common-wrap        : 1200px;
$common-transition  : all 300ms ease;

/**
 * WP Breakpoint vars
 *
 * https://github.com/WordPress/gutenberg/blob/master/assets/stylesheets/_breakpoints.scss
 */

$break-huge      : 1440px;
$break-wide      : 1280px;
$break-xlarge    : 1080px;
$break-large     : 960px;	// admin sidebar auto folds
$break-medium    : 782px;	// adminbar goes big
$break-small     : 600px;
$break-mobile    : 480px;

/**
 * WP Breakpoint mixins
 *
 * https://github.com/WordPress/gutenberg/blob/master/assets/stylesheets/_mixins.scss
 */

@mixin break-huge() {@media (min-width: #{ ($break-huge) }) {@content;}}
@mixin break-wide() {@media (min-width: #{ ($break-wide) }) {@content;}}
@mixin break-xlarge() {@media (min-width: #{ ($break-xlarge) }) {@content;}}
@mixin break-large() {@media (min-width: #{ ($break-large) }) {@content;}}
@mixin break-medium() {@media (min-width: #{ ($break-medium) }) {@content;}}
@mixin break-small() {@media (min-width: #{ ($break-small) }) {@content;}}
@mixin break-mobile() {@media (min-width: #{ ($break-mobile) }) {@content;}}

/**
 * Layout mixin
 *
 * Flex and provide equal spacing between a list of
 * items.
 *
 * NOTE: Any layout must be enclosed inside a
 * parent with padding equal or greater than
 * spacing.
 */

@mixin layout($x : true, $y : true, $size : 20px) {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;

	@if $x {margin-right: - $size}
	@if $y {margin-bottom: - $size}
	& > * {
		width: auto;
		box-sizing: border-box;
		@if $x {padding-right: $size}
		@if $y {padding-bottom: $size}
	}
}

/**
 * Visually Hidden
 *
 * Common declarations to hide without display:none.
 */

@mixin visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

/**
 * Background Image
 *
 * Common declarations for bg images.
 */

@mixin bg-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/**
 * Reset List
 */

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
	}
}

/**
 * Wrap
 */

@mixin wrap {
	max-width: $common-wrap;
	display: block;
	margin: 0 auto;
}

/**
 * Clear floated elements.
 */

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/**
 * Dimmer mixin
 *
 * Mimics the behaviour of the native wp cover block
 * dimmer class.
 *
 * NOTE: Other element need a z-index of 1 or more.
 */

@mixin dimmer {
	position: relative;
	&:before {
		content: "";
		background-color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: .5;
		z-index: 1;
	}

	@for $i from 1 through 10 {
		&-#{ $i * 10 }:before {
			opacity: $i * 0.1;
		}
	}
}

/**
 * On Event.
 *
 * Shorthand for anchor pseudo classes.
 */

@mixin on-event {
	&:hover,
	&:active {
		@content;
	}
}

// Temp styling for themeing

$mkdo-green: #2cc795;

.entry .entry-content a.mkdo-button,
.editor-block-list__layout a.mkdo-button,
a.mkdo-button.mkdo-button,
.mkdo-button.mkdo-button {
	padding: ($common-spacing / 2) $common-spacing;
	background-color: $common-dark;
	line-height: 1.2em;
	border-radius: 2px;
	color: $common-white;
	text-align: center;
	min-width: 100px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 14px;
	font-family: sans-serif;
	transition: $common-transition;
	@include on-event {
		color: $common-offwhite;
		background-color: lighten($common-dark, 20%);
		text-decoration: none;
	}
}



.editor-styles-wrapper .mce-content-body.mkdo-heading,
.editor-styles-wrapper .mkdo-heading,
h1.mkdo-heading:not(.site-title),
h2.mkdo-heading,
.mkdo-heading {
	margin: 0;
	line-height: 1.2em;
	&:before, &:after {
		display: none;
	}
}