/**
 * Block
 *
 * The styles for the Block.
 */

/**
 * Dependancies
 *
 * Import shared styles.
 */

// Accessibility Visually Hidden.
@import '../../../assets/src/scss/common/visually-hidden';

.starter-opening-hours {
    font-family: Arial, Helvetica, sans-serif;
}

.starter-opening-hours__table {
    text-align: left;
    width: 100%;
}

.starter-opening-hours__column {
    width: 25%;
}

.starter-opening-hours__column--day {
    width: 50%;
}

.starter-opening-hours-row {
    width: 100%;

    .starter-opening-hours__column {
        display: inline-block;
        padding-right: 1em;
    }
}