/**
 * Block
 *
 * The styles for the Block.
 */
/**
 * Dependancies
 *
 * Import shared styles.
 */
/**
 * Dimmer mixin
 *
 * Mimics the behaviour of the native wp cover block
 * dimmer class.
 *
 * NOTE: Other element will need a z-index of 1 or more.
 */
/**
 * Variables
 *
 * The variables for the block.
 */
.starter-card {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EDEDED;
  position: relative;
  overflow: hidden; }
  .starter-card.hentry .starter-card__main .entry-summary {
    margin: 0px;
    max-width: 100%;
    padding: 0px; }

.starter-card__title {
  line-height: 1em;
  margin: 0px;
  padding: 0px; }

.starter-card__header {
  position: relative; }

.starter-card__header-background {
  height: 200px;
  width: 100%;
  z-index: 0; }
  .starter-card__header-background.has-background-dim {
    position: relative;
    background-color: #1d1d1d; }
    .starter-card__header-background.has-background-dim:before {
      content: "";
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .5;
      z-index: 1; }
    .starter-card__header-background.has-background-dim-10:before {
      opacity: 0.1; }
    .starter-card__header-background.has-background-dim-20:before {
      opacity: 0.2; }
    .starter-card__header-background.has-background-dim-30:before {
      opacity: 0.3; }
    .starter-card__header-background.has-background-dim-40:before {
      opacity: 0.4; }
    .starter-card__header-background.has-background-dim-50:before {
      opacity: 0.5; }
    .starter-card__header-background.has-background-dim-60:before {
      opacity: 0.6; }
    .starter-card__header-background.has-background-dim-70:before {
      opacity: 0.7; }
    .starter-card__header-background.has-background-dim-80:before {
      opacity: 0.8; }
    .starter-card__header-background.has-background-dim-90:before {
      opacity: 0.9; }
    .starter-card__header-background.has-background-dim-100:before {
      opacity: 1; }

.starter-card__header-inner {
  bottom: 0px;
  left: 0px;
  padding: 1em;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .starter-card__header-inner a {
    color: inherit !important; }

.starter-card__main {
  padding: 0 1em 1em 1em; }

.starter-card__cta .button {
  font-size: .8em;
  line-height: .8em !important;
  height: 2.4em;
  padding: .8em;
  border-radius: .5em;
  border-width: 0px;
  box-shadow: none; }

.starter-card--align-center .starter-card__header {
  text-align: center; }

.starter-card--align-center .starter-card__main {
  text-align: center; }

.starter-card--align-right .starter-card__header {
  text-align: right; }

.starter-card--align-right .starter-card__main {
  text-align: right; }

.starter-card.is-style-image-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  .starter-card.is-style-image-left .starter-card__header {
    width: 100%; }

.starter-card.is-style-image-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .starter-card.is-style-image-right .starter-card__header {
    width: 100%; }
/**
 * Block
 *
 * The styles for the Block.
 */
/**
 * Dependancies
 *
 * Import shared styles.
 */
/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden,
.visuallyhidden,
.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.starter-opening-hours {
  font-family: Arial, Helvetica, sans-serif; }

.starter-opening-hours__table {
  text-align: left;
  width: 100%; }

.starter-opening-hours__column {
  width: 25%; }

.starter-opening-hours__column--day {
  width: 50%; }

.starter-opening-hours-row {
  width: 100%; }
  .starter-opening-hours-row .starter-opening-hours__column {
    display: inline-block;
    padding-right: 1em; }
/**
 * Block
 *
 * The styles for the Block.
 */
.starter-google-map {
  margin-bottom: 1em; }

.info-window {
  min-width: 250px;
  position: relative; }
  .info-window .info-window__image {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
    position: relative; }
  .info-window .info-window__content {
    font-size: 1em;
    display: inline-block;
    position: relative; }
    .info-window .info-window__content .info-window__title {
      font-size: 1.25em;
      margin: 0px;
      font-weight: normal; }
    .info-window .info-window__content .info-window__address span {
      display: block; }
    .info-window .info-window__content p {
      font-size: 1em; }
