/**
 * Editor Styles
 *
 * The Styles for the Block in the Edit View.
 */
.starter-card .block-library-button__inline-link {
  display: inline-block;
  margin-top: 1em; }
  .starter-card .block-library-button__inline-link > svg,
  .starter-card .block-library-button__inline-link > div,
  .starter-card .block-library-button__inline-link > button {
    display: inline; }

.starter-card .starter-card__cta .editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  width: 120px;
  height: 2.4em; }
