/**
 * Editor Styles
 *
 * The Styles for the Block in the Edit View.
 */
.starter-card .block-library-button__inline-link {
  display: inline-block;
  margin-top: 1em; }
  .starter-card .block-library-button__inline-link > svg,
  .starter-card .block-library-button__inline-link > div,
  .starter-card .block-library-button__inline-link > button {
    display: inline; }

.starter-card .starter-card__title.editor-rich-text__tinymce[data-is-placeholder-visible=true]::before {
  display: none; }

.starter-card .starter-card__cta .editor-rich-text__tinymce {
  min-width: 120px;
  min-height: 2.4em;
  text-align: center; }

.starter-card .starter-card__cta .editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  width: 120px;
  height: 2.4em; }

/**
 * Inspector Controls
 */
.starter-card__image-select .components-button {
  display: block;
  margin-top: 1em; }
/**
 * Editor Styles
 *
 * The Styles for the Block in the Edit View.
 */
.starter-opening-hours .starter-opening-hours__title.editor-rich-text__tinymce[data-is-placeholder-visible=true]::before {
  display: none; }
/**
 * Editor Styles
 *
 * The Styles for the Block in the Edit View.
 */
.starter-google-map {
  margin-bottom: 1em; }
  .starter-google-map.no-api-key {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-left: 5px solid #f5c6cb;
    color: #721c24;
    padding: 1em; }
    .starter-google-map.no-api-key p {
      margin: 0px; }
