.wp-block-sentidoweb-snippet {
	position: relative;
	counter-reset: linenumber;

	& .sw_new_line::before {
		content: counter(linenumber, decimal-leading-zero);
		counter-increment: linenumber;
		padding-right: 15px;
		font-size: 0.8em;
		opacity: 0.6;
	}

	button {
		position: absolute;
		right: 0;
		position: absolute;
		right: 1px;
		text-transform: uppercase;
		border: 0;
		padding: 5px 10px;
		font-size: 10px;
		top: 1px;
		background: #ccc;
		color: #666;
		display: none;
		cursor: pointer;
		border-radius: 0;

		&:hover {
			background: #aaa;
			color: #333;
		}
	}

	&:hover {
		button {
			display: inline-block;
		}
	}
}
