/**
 * Block
 *
 * The styles for the Block.
 */

.starter-google-map {
    margin-bottom: 1em;
}

.info-window {
	min-width: 250px;
	position: relative;
	.info-window__image {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin-right: 2em;
		vertical-align: top;
		position: relative;
	}

	.info-window__content {
		font-size: 1em;
		display: inline-block;
		position: relative;
		.info-window__title {
			font-size: 1.25em;
			margin:0px;
			font-weight: normal;
		}
		.info-window__address {
			span {
				display: block;
			}
		}
		p {
			font-size: 1em;
		}
	}
}